.home .ui .ui.cards .campsite-finder-card {
  box-shadow: none;
}

.home .ui .ui.cards .campsite-finder-card:hover {
  box-shadow: none;
}

.home .ui .ui.cards .campsite-finder-card .extra {
  border-top: none !important;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header.campsite-finder-card__header {
  display: flex;
  align-items: center;
}

.campsite-finder-card__on-off {
  font-size: 12px;
  margin-left: auto;
}

.campsite-finder-card__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.campsite-finder-card__label-text {
  color: #999;
  margin-right: 10px;
}

.campsite-finder-card__settings {
  flex: 0;
}

.campsite-finder-card__sub-heading {
  margin-bottom: 0.5em;
}

.campsite-finder-card .DateInput__display-text {
  font-size: 12px;
}

.campsite-finder-card .DateRangePickerInput {
  display: flex;
  align-items: center;
}

.campsite-finder-card .DateInput {
  width: auto;
}

.campsite-finder-card__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  overflow: hidden;
  background-color: rgb(95%, 95%, 95%)
}

.campsite-finder-card__title-link {
  width: 100%;
}

.campsite-finder-card__title-link img {
  width: 100%;
}

.campsite-finder-card__form {
  margin-bottom: 12px;
}

.campsite-finder-card .DateRangePicker {
  max-width: 100%;
}

.campsite-finder-card .DateRangePicker__picker {
  z-index: 3;
}

.ui.selection.relaxed.list .item.campsite-finder-card__email:hover {
  color: rgb(100%, 40%, 40%);
  text-decoration: line-through;
  cursor: pointer;
  background-color: transparent;
}

.campsite-finder-card__campground-image {
  max-width: 100%
}
.campsite-finder-card__title-link {
  color: rgb(80%, 80%, 80%)
}
